.direnv/
__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
*.egg-info/
db.sqlite3
media/
staticfiles/
wiki-pages/
darcsit/codeblock
darcsit/literate-c
darcsit/pagemagic
darcsit/sanitize
darcsit/urldecode
wiki/darcsit_helpers/bin/*
!wiki/darcsit_helpers/bin/.gitkeep
.envrc
darcsit
