<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ wiki_title }} - {{ page_title }}</title>
    <link href="{{ static_url }}wiki/css/custom.css" rel="stylesheet" media="screen" type="text/css">
    <link href="{{ static_url }}wiki/css/print.css" rel="stylesheet" media="print" type="text/css">
    <link href="{{ static_url }}wiki/css/gititpy.css" rel="stylesheet" media="screen" type="text/css">
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['\\(', '\\)']],
          displayMath: [['\\[', '\\]']],
          processEscapes: true
        },
        options: {
          skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
      };
    </script>
    <script defer src="{{ mathjax_url }}"></script>
  </head>
  <body>
    <div id="doc3" class="yui-t1">
      <div id="yui-main">
        <div id="maincol" class="yui-b">
          <div id="userbox">anonymous</div>
          {% block tabs %}{% endblock %}
          <div id="content">
            {% block content %}{% endblock %}
          </div>
          <div id="footer"></div>
        </div>
      </div>
      <div id="sidebar" class="yui-b first">
        {% block sidebar %}
          {% include "wiki/sidebar.html" %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
