{% extends "wiki/base.html" %}

{% block tabs %}
  {% include "wiki/tabs.html" with active_tab="edit" %}
{% endblock %}

{% block content %}
  <h1 class="pageTitle">Delete {{ page_title }}</h1>
  <p>This removes the current page file, but the old content remains recoverable from Git history.</p>
  <form class="vstack gap-3" method="post">
    {% csrf_token %}
    <div>
      <label class="form-label" for="logMsg">Change description</label>
      <input id="logMsg" class="form-control" type="text" name="message" value="Delete {{ page_slug }}">
    </div>
    <div class="d-flex gap-2">
      <input class="btn btn-danger" type="submit" value="Delete">
      <a class="button btn btn-outline-secondary" href="{{ page_url }}">Cancel</a>
    </div>
  </form>
{% endblock %}
