{% extends "wiki/base.html" %}

{% block content %}
  <h1 class="pageTitle">{{ page_title }}</h1>
  <div class="index">
    <ul>
      {% if directory_path %}
        <li class="folder">
          <a class="updir" href="{{ parent_url }}">..</a>
        </li>
      {% endif %}
      {% for entry in entries %}
        <li class="{% if entry.is_dir %}folder{% else %}page{% endif %}">
          <a href="{{ entry.href }}">{{ entry.name }}{% if entry.is_dir %}/{% endif %}</a>
        </li>
      {% else %}
        <li>No pages in this folder.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
