{% extends "wiki/base.html" %}

{% block tabs %}
  {% with active_tab="history" %}
    {% include "wiki/tabs.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
  <h1 class="pageTitle">History for {{ page_title }}</h1>
  {% if revisions %}
    <table>
      <thead>
        <tr>
          <th>Revision</th>
          <th>Date</th>
          <th>Author</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for revision in revisions %}
          <tr>
            <td><a href="{{ page_url }}?revision={{ revision.commit }}">{{ revision.short_commit }}</a></td>
            <td>{{ revision.date }}</td>
            <td>{{ revision.author }}</td>
            <td>{{ revision.subject }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No history yet.</p>
  {% endif %}
{% endblock %}
