{% extends "wiki/base.html" %}

{% block content %}
  <h1 class="pageTitle">Search</h1>
  <form id="search-page-form" action="{{ search_url }}" method="get">
    <p>
      <input id="search-page-input" type="text" name="q" value="{{ query }}" autofocus>
      <input type="submit" value="Search">
    </p>
  </form>
  <div id="search-results"></div>
  <script>
    window.GititPySearchIndex = "{{ search_index_url }}";
  </script>
  <script defer src="{{ static_url }}wiki/js/search.js"></script>
{% endblock %}
