<div id="logo">
  <a href="{{ front_url }}"><img src="{{ static_url }}wiki/img/logo.png" alt="{{ wiki_title }}"></a>
</div>
<div class="sitenav">
  <fieldset>
    <legend>Site</legend>
    <ul>
      <li><a href="{{ front_url }}">Front page</a></li>
      <li><a href="{{ all_pages_url }}">All pages</a></li>
      <li><a href="{{ help_url }}">Help</a></li>
    </ul>
    <form id="searchform" action="{{ search_url }}" method="get">
      <input class="search_term" type="text" name="q" value="" placeholder="">
      <input type="submit" value="Search">
    </form>
  </fieldset>
  <fieldset>
    <legend>Development</legend>
    <ul>
      <li><a href="{{ source_root_url }}">Source code</a></li>
      {% if sandbox_root_url %}
        <li><a href="{{ sandbox_root_url }}">Sandbox</a></li>
      {% endif %}
    </ul>
  </fieldset>
</div>
{% if page_slug %}
  <div class="pageTools">
    <fieldset>
      <legend>This page</legend>
      <ul>
        <li><a href="{{ raw_page_url }}">Raw page source</a></li>
        {% if not static_build %}
          <li><a href="{{ delete_page_url }}">Delete this page</a></li>
        {% endif %}
      </ul>
    </fieldset>
  </div>
{% endif %}
