{% extends "wiki/base.html" %}

{% block content %}
  {% include "wiki/breadcrumbs.html" %}
  <div class="index">
    <ul>
      {% if source_path %}
        <li class="folder">
          {% if parent_path %}
            <a class="updir" href="{{ parent_url }}">..</a>
          {% else %}
            <a class="updir" href="{{ tree_root_url }}">..</a>
          {% endif %}
        </li>
      {% endif %}
      {% for entry in entries %}
        <li class="{% if entry.is_dir %}folder{% else %}page{% endif %}">
          <a href="{{ entry.href }}">{{ entry.name }}{% if entry.is_dir %}/{% endif %}</a>
        </li>
      {% else %}
        <li>No source files.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
